body {
  margin:auto;
  background:#012656 0% 0% no-repeat padding-box;
  text-align: center;
}

#spe_head {
text-align: center;
font: normal normal bold  ;
font-size: 50px;
font-family: sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
#sp1 {

  width: 150px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

#sp2 {
  width: 150px;
  height: 150px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
#sp3{
width: 150px;
height: 150px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
#spologo2{
  width:100%;
  
  margin: auto;
}
#spe_pics{
  position: relative;
  top: 5%;
}
#spep{
  border-radius: 24px 24px 0px 0px;
}
#pic_template{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 40px 80px #00000063;
border-radius: 24px;
opacity: 1;
display:inline-block;
}
#pic_template2{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 40px 80px #00000063;
  border-radius: 24px;
  opacity: 1;
  position:relative;
  /* right:29%; */
  display:inline-block;
  }
#comp{
  text-align: left;
  font: normal normal medium 32px/48px sans-serif;
  letter-spacing: 0px;
  color: #012656;
  opacity: 1;
}
#sn{
  text-align: left;
  font: normal normal bold 32px/48px sans-serif;
  letter-spacing: 0px;
  color: #305BC9;
  opacity: 1;
}
#regbut{
width:30%;
height: 50px;
color: #FFFFFF;
background: #305BC9 0% 0% no-repeat padding-box;
box-shadow: 0px 24px 48px #00000038;
border-radius: 8px;
opacity: 1;
}
#RegFor{
  position: relative;
  top:20%;
}
#spon{
  position: relative;
  z-index:-1;
}
#info{
  position: relative;
  margin: 0px;
}
#price{
  color:azure; 
  font-weight:bold; 
  font-size:72px;
}
/* img { max-width: 100%; } */
img#atcraft{
  max-width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img#sp1.ui.medium.circular.image{
  display: block;
  margin-left: auto;
  margin-right: auto 
}
img#sp2.ui.medium.circular.image{
  display: block;
  margin-left: auto;
  margin-right: auto 
}
img#sp3.ui.medium.circular.image{
  display: block;
  margin-left: auto;
  margin-right: auto 
}
div#tem1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content ;
  position: relative;
  bottom: 10%;
}
div#tem2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: max-content ;
  bottom: 10%;
}
#day1{
  position: relative;
  z-index: -2;
  top:10%
}
#day2{
  position: relative;
  z-index: -2;
  top:10%
}
